<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/footer.css">
    <title>Document</title>
</head>

<body>
    <footer>
            <div class="fotoLogo">
                <img src="" alt="" id="logo">
            </div>

            <div class="infoBox">
                <a href="/sobre">Sobre nós</a>
                <a href="/parceiros">Parceiros</a>
                <a href="/home">Home</a>
            </div>
            
            <div class="contatos">
                <a href=""> <img src="icons/instagram.png" alt=""> </a>
                <a href=""> <img src="icons/whatsapp2.png" alt=""> </a>
                <a href=""> <img src="icons/facebook.png" alt=""> </a>
            </div>
    </footer>
</body>

</html>